@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-accent: #a1a1aa;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased selection:bg-white selection:text-black;
  }
}
